In [21]:
import json
import numpy as np
import pandas as pd
import torch

In [22]:
# Read all the data sets

set1_human = pd.read_json('dataset/set1_human.json')
set1_machine = pd.read_json('dataset/set1_machine.json')
set2_human = pd.read_json('dataset/set2_human.json')
set2_machine = pd.read_json('dataset/set2_machine.json')

# Add in label for all data sets
set1_human = set1_human.assign(label=1)
set2_human = set2_human.assign(label=0)
set1_machine = set1_machine.assign(label=1)
set2_machine = set2_machine.assign(label=0)

In [23]:
# Remove the machine id for testing
set1_machine = set1_machine.drop('machine_id', axis=1)
set2_machine = set2_machine.drop('machine_id', axis=1)

# Separate and concatenate into 2 sets, set 1 and set 2
set1 = pd.concat([set1_human, set1_machine])
set2 = pd.concat([set2_human, set2_machine])

# Split the labels and the data for training
x_set1 = pd.DataFrame(set1[['txt']])
y_set1 = pd.DataFrame(set1[['label']])
x_set2 = pd.DataFrame(set2[['txt']])
y_set2 = pd.DataFrame(set2[['label']])

In [24]:
combined = pd.concat([set1, set2])

In [25]:
x_combined = pd.DataFrame(combined[['txt']])
y_combined = pd.DataFrame(combined[['label']])

In [26]:
x_combined['txt'] = x_combined['txt'].apply(lambda x: ' '.join(map(str, x)))

In [27]:
x_combined

                                                   txt
0    1479 3457 2277 1827 1493 2582 3723 1479 4878 1...
1    721 2820 1676 4 76 2130 1502 1591 1485 1908 18...
2    2732 3882 1801 1479 2833 2622 2874 1567 1781 1...
3    1479 4758 1734 1511 1500 1479 91 10 87 1509 23...
4    4683 1751 2004 1485 1499 15 1574 2193 2521 177...
..                                                 ...
395  55 1497 70 1693 2159 1500 51 1481 2140 1543 43...
396  55 1497 2949 2660 4578 1589 4644 1568 2401 149...
397  44 87 10 86 1536 4361 2960 2166 3237 1879 58 1...
398  55 75 1480 1977 1533 2351 2929 1495 1526 1837 ...
399  56 81 1570 1542 1947 83 1530 1962 1565 2184 21...

[126584 rows x 1 columns]

In [28]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction import DictVectorizer


vectorizer = CountVectorizer()
vectorized_words = vectorizer.fit_transform(x_combined['txt'])
x_vectorized = pd.DataFrame(vectorized_words.toarray())

In [29]:
print(x_vectorized.shape)

(126584, 4981)

Split into training and testing sets

In [31]:
from sklearn.model_selection import train_test_split, StratifiedShuffleSplit

x_train, x_test, y_train, y_test= train_test_split(x_vectorized, y_combined, test_size=0.1, stratify=y_combined)

In [32]:
x_train

,0,1,2,3,4,5,6,7,8,9,...,4971,4972,4973,4974,4975,4976,4977,4978,4979,4980
13281,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
104248,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15036,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
56723,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33516,10,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115059,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
109658,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
79708,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19046,10,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, f1_score, classification_report

clf = LogisticRegression()
clf.fit(x_train, y_train)

y_pred = clf.predict(x_test)
accuracy = accuracy_score(y_test, y_pred)
print('Accuracy:', accuracy)

C:\Users\User\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\User\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Accuracy: 0.9996050240935302

In [36]:
from sklearn.metrics import classification_report
print(classification_report(y_pred, y_test))

              precision    recall  f1-score   support

           0       0.96      0.94      0.95        51
           1       1.00      1.00      1.00     12608

    accuracy                           1.00     12659
   macro avg       0.98      0.97      0.98     12659
weighted avg       1.00      1.00      1.00     12659