In [1]:
import json
import numpy as np
import pandas as pd

In [2]:
# Read all the data sets

set1_human = pd.read_json('dataset/set1_human.json')
set1_machine = pd.read_json('dataset/set1_machine.json')
set2_human = pd.read_json('dataset/set2_human.json')
set2_machine = pd.read_json('dataset/set2_machine.json')
set_test = pd.read_json('dataset/test.json')

# Add in label for all data sets
set1_human = set1_human.assign(label=1)
set2_human = set2_human.assign(label=1)
set1_machine = set1_machine.assign(label=0)
set2_machine = set2_machine.assign(label=0)

In [3]:
# Separate and concatenate into 2 sets, set 1 and set 2
set1 = pd.concat([set1_human[:3500], set1_machine])
set2 = pd.concat([set2_human, set2_machine])

# Split the labels and the data for training
x_set1 = pd.DataFrame(set1[['txt', 'prompt']])
y_set1 = pd.DataFrame(set1[['label']])
x_set2 = pd.DataFrame(set2[['txt', 'prompt']])
y_set2 = pd.DataFrame(set2[['label']])

In [4]:
x_set1['prompt_len'] = x_set1['prompt'].apply(lambda x: len(x))
x_set1['txt_len'] = x_set1['txt'].apply(lambda x: len(x))


x_set2['prompt_len'] = x_set2['prompt'].apply(lambda x: len(x))
x_set2['txt_len'] = x_set2['txt'].apply(lambda x: len(x))

In [5]:
x_set2

,txt,prompt,prompt_len,txt_len
0,"[55, 1497, 3396, 3860, 85, 1624, 1486, 1525, 5...","[47, 2328, 1484, 1737, 36, 37, 4609, 1772, 157...",64,565
1,"[36, 2318, 42, 50, 51, 3717, 2493, 42, 72, 409...","[58, 36, 54, 43, 44, 49, 42, 55, 50, 49, 1737,...",78,1218
2,"[54, 1540, 1589, 1500, 44, 3882, 1705, 1478, 1...","[39, 82, 93, 1943, 1500, 1481, 2140, 2389, 147...",52,628
3,"[36, 86, 68, 3273, 1936, 15, 1479, 56, 17, 54,...","[1737, 51, 1489, 81, 54, 87, 1643, 56, 2462, 2...",59,1088
4,"[44, 87, 1515, 1479, 1510, 1564, 1480, 51, 148...","[1737, 51, 1647, 1705, 1480, 3486, 2318, 1500,...",72,732
...,...,...,...,...
395,"[55, 1497, 70, 1693, 2159, 1500, 51, 1481, 214...","[52, 88, 76, 1485, 15, 40, 2349, 1508, 1494, 1...",40,1168
396,"[55, 1497, 2949, 2660, 4578, 1589, 4644, 1568,...","[1737, 54, 76, 91, 38, 75, 1714, 1504, 38, 171...",70,713
397,"[44, 87, 10, 86, 1536, 4361, 2960, 2166, 3237,...","[58, 1984, 1488, 2298, 1737, 58, 3365, 1479, 2...",57,916
398,"[55, 75, 1480, 1977, 1533, 2351, 2929, 1495, 1...","[11, 48, 1490, 1539, 1747, 12, 1737, 39, 1514,...",44,705
399,"[56, 81, 1570, 1542, 1947, 83, 1530, 1962, 156...","[1737, 41, 1494, 1538, 2607, 1628, 1478, 54, 1...",42,323

In [6]:
x_set1

,txt,prompt,prompt_len,txt_len
0,"[1479, 3457, 2277, 1827, 1493, 2582, 3723, 147...","[1759, 4203, 1493, 3153, 1499]",5,447
1,"[721, 2820, 1676, 4, 76, 2130, 1502, 1591, 148...","[1502, 1557, 1487, 1479, 3402, 1551, 1602, 286...",57,403
2,"[2732, 3882, 1801, 1479, 2833, 2622, 2874, 156...","[3650, 1822, 1500, 4075, 15, 1510, 87, 1683, 1...",34,565
3,"[1479, 4758, 1734, 1511, 1500, 1479, 91, 10, 8...","[1518, 2556, 15, 1612, 1490, 1598, 2409, 1484,...",47,560
4,"[4683, 1751, 2004, 1485, 1499, 15, 1574, 2193,...","[1518, 1519, 4640, 2858, 1865, 1622, 1520, 147...",42,487
...,...,...,...,...
3495,"[76, 2044, 1703, 1484, 1479, 2705, 83, 2587, 8...","[68, 1616, 2621, 2860, 2859, 1675, 1485, 21, 3...",40,105
3496,"[1518, 1502, 1585, 1686, 2996, 1568, 1533, 332...","[1502, 1557, 1508, 1889, 3063, 1488, 68, 87, 2...",31,104
3497,"[1518, 76, 1752, 68, 2896, 1500, 2656, 15, 151...","[1502, 1557, 68, 81, 1679, 1483, 2587, 3179, 1...",32,116
3498,"[76, 10, 80, 1478, 1479, 2926, 1500, 68, 3868,...","[1484, 2015, 10, 86, 4201, 1477, 3698, 1571, 1...",37,146
3499,"[721, 2726, 1567, 15, 722, 1741, 2571, 17, 87,...","[1487, 1538, 3681, 2300, 1538, 1638, 2093, 440...",22,76

In [7]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction import DictVectorizer
from sklearn.model_selection import train_test_split, StratifiedShuffleSplit

def preprocess(x_set, y_set):
    
    x_set['txt'] = x_set['txt'].apply(lambda x: ' '.join(map(str, x)))
    vectorizer = CountVectorizer()
    vectorized_words = vectorizer.fit_transform(x_set['txt'])
    x_set_vectorized = pd.DataFrame(vectorized_words.toarray())
    x_set_train,  x_set_test, y_set_train, y_set_test= train_test_split(x_set_vectorized, y_set, test_size=0.2, stratify=y_set)
    return x_set_train,  x_set_test, y_set_train, y_set_test

In [8]:
x_set1_train, x_set1_test, y_set1_train, y_set1_test= preprocess(x_set1, y_set1)

In [9]:
x_set2_train, x_set2_test, y_set2_train, y_set2_test= preprocess(x_set2, y_set2)

In [10]:
x_set1_train

,0,1,2,3,4,5,6,7,8,9,...,3762,3763,3764,3765,3766,3767,3768,3769,3770,3771
347,0,0,0,0,0,0,0,0,0,10,...,0,0,0,5,0,0,0,0,0,0
2892,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3699,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2189,6,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
3427,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6166,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2944,4,0,0,1,0,0,0,1,0,8,...,0,1,3,2,0,0,0,0,0,0
2777,3,0,0,0,0,0,0,0,0,0,...,0,1,0,0,3,1,0,0,0,0
1676,6,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
6279,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
x_set2_train

,0,1,2,3,4,5,6,7,8,9,...,3308,3309,3310,3311,3312,3313,3314,3315,3316,3317
272,10,0,0,0,0,0,0,0,0,0,...,0,2,16,11,0,0,1,2,0,0
167,5,0,0,0,0,0,0,0,0,0,...,0,3,14,1,1,0,0,0,0,0
363,1,0,0,0,0,0,0,0,0,0,...,0,1,1,1,0,0,0,0,0,0
455,5,0,0,0,0,0,0,0,0,0,...,0,1,15,7,21,0,2,1,3,0
55,2,0,0,0,0,0,0,0,0,0,...,0,0,6,1,1,0,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345,2,0,0,0,0,0,0,0,0,0,...,0,0,0,2,2,0,0,0,1,0
87,5,0,0,0,0,0,0,0,0,0,...,0,2,9,1,0,1,3,0,2,1
261,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
439,1,0,0,0,0,0,0,0,0,0,...,0,0,4,1,1,0,0,1,0,0
184,1,0,0,1,0,0,1,0,0,0,...,0,1,2,2,2,1,1,0,2,1

In [12]:
from imblearn.over_sampling import RandomOverSampler

oversample = RandomOverSampler(sampling_strategy=1) 

X_over, y_over = oversample.fit_resample(x_set2_train, y_set2_train)
print(X_over.shape, y_over.shape)

(640, 3318) (640, 1)

In [13]:
oversample = RandomOverSampler(sampling_strategy=1) 

X_test_over, y_test_over = oversample.fit_resample(x_set2_test, y_set2_test)
print(X_over.shape, y_over.shape)

(640, 3318) (640, 1)

In [60]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, f1_score, classification_report

clf = LogisticRegression()
clf.fit(X_over, y_over)

y_pred = clf.predict(X_test_over)
accuracy = accuracy_score(y_test_over, y_pred)
print(classification_report(y_pred, y_test_over))

ValueError: setting an array element with a sequence.

In [15]:
oversample = RandomOverSampler(sampling_strategy=1) 

X_over, y_over = oversample.fit_resample(x_set2, y_set2)
print(X_over.shape, y_over.shape)

(800, 4) (800, 1)

In [41]:
X_over = pd.DataFrame(X_over[['txt', 'prompt']])

In [47]:
X_over['txt'] = X_over['txt'].apply(lambda x: [x])

In [48]:
X_over

,txt,prompt
0,[55 1497 3396 3860 85 1624 1486 1525 54 75 153...,"[47, 2328, 1484, 1737, 36, 37, 4609, 1772, 157..."
1,[36 2318 42 50 51 3717 2493 42 72 4096 58 17 3...,"[58, 36, 54, 43, 44, 49, 42, 55, 50, 49, 1737,..."
2,[54 1540 1589 1500 44 3882 1705 1478 1899 74 2...,"[39, 82, 93, 1943, 1500, 1481, 2140, 2389, 147..."
3,[36 86 68 3273 1936 15 1479 56 17 54 17 39 169...,"[1737, 51, 1489, 81, 54, 87, 1643, 56, 2462, 2..."
4,[44 87 1515 1479 1510 1564 1480 51 1484 1683 1...,"[1737, 51, 1647, 1705, 1480, 3486, 2318, 1500,..."
...,...,...
795,[55 1497 1783 3091 1692 4578 1589 3080 41 1782...,"[1737, 51, 1726, 2649, 1620, 1484, 68, 56, 81,..."
796,[55 1497 54 3972 1772 1708 1705 2137 1479 2229...,"[1737, 54, 1567, 1483, 1798, 39, 45, 36, 2669,..."
797,[5 44 1561 1733 2585 1525 1479 2923 1727 4928 ...,"[58, 1984, 1488, 2298, 1737, 55, 1497, 54, 148..."
798,[46 92 1501 54 72 1492 93 15 22 25 15 2004 221...,"[1737, 55, 1497, 2261, 1500, 68, 3139, 16, 240..."
799,[51 1531 1478 15 1748 15 1491 4045 1645 1665 4...,"[55, 40, 43, 53, 36, 49, 15, 44, 2398, 1737, 4..."

In [49]:
x_set = pd.concat([X_over, set_test])

In [50]:
x_set

,txt,prompt
0,[55 1497 3396 3860 85 1624 1486 1525 54 75 153...,"[47, 2328, 1484, 1737, 36, 37, 4609, 1772, 157..."
1,[36 2318 42 50 51 3717 2493 42 72 4096 58 17 3...,"[58, 36, 54, 43, 44, 49, 42, 55, 50, 49, 1737,..."
2,[54 1540 1589 1500 44 3882 1705 1478 1899 74 2...,"[39, 82, 93, 1943, 1500, 1481, 2140, 2389, 147..."
3,[36 86 68 3273 1936 15 1479 56 17 54 17 39 169...,"[1737, 51, 1489, 81, 54, 87, 1643, 56, 2462, 2..."
4,[44 87 1515 1479 1510 1564 1480 51 1484 1683 1...,"[1737, 51, 1647, 1705, 1480, 3486, 2318, 1500,..."
...,...,...
995,"[39, 1491, 3055, 1740, 1600, 37, 1536, 1483, 2...","[44, 54, 47, 36, 48, 36, 37, 36, 39, 15, 51, 1..."
996,"[55, 2686, 2336, 2410, 23, 16, 28, 27, 15, 165...","[1737, 53, 1584, 1504, 1511, 58, 2665, 2012, 1..."
997,"[55, 1497, 3684, 15, 1974, 1491, 1698, 20, 17,...","[43, 1661, 46, 1661, 1737, 36, 4698, 1996, 189..."
998,"[54, 1612, 2097, 1868, 36, 1511, 55, 75, 2163,...","[1737, 36, 2607, 1755, 41, 1657, 2285, 10, 86,..."
999,"[55, 1497, 42, 1481, 1489, 37, 2175, 2518, 148...","[54, 51, 53, 44, 49, 42, 41, 44, 40, 47, 39, 1..."

In [51]:
x_set['txt'] = x_set['txt'].apply(lambda x: ' '.join(map(str, x)))
vectorizer = CountVectorizer()
vectorized_words = vectorizer.fit_transform(x_set['txt'])
x_set_vectorized = pd.DataFrame(vectorized_words.toarray())

In [52]:
x_set_vectorized

,0,1,2,3,4,5,6,7,8,9,...,3584,3585,3586,3587,3588,3589,3590,3591,3592,3593
0,5,0,0,0,0,0,0,0,0,0,...,8,3,0,0,0,1,1,0,0,0
1,26,0,0,0,0,0,0,0,0,0,...,21,11,8,0,1,3,2,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,6,2,2,0,0,0,0,1,0,0
3,6,0,0,0,0,0,0,0,0,0,...,14,12,2,2,1,0,3,0,0,0
4,6,0,0,0,3,0,0,0,3,0,...,13,3,0,1,2,0,2,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1795,6,0,0,0,0,0,0,0,0,0,...,9,0,1,0,0,0,0,0,0,0
1796,6,0,0,0,0,0,0,0,0,0,...,5,6,0,1,0,0,1,0,0,0
1797,0,0,0,0,2,0,0,0,2,0,...,2,1,2,0,0,0,0,0,0,0
1798,2,0,0,0,0,0,0,0,0,0,...,3,0,0,0,1,0,0,0,0,0
1799,13,0,0,0,0,0,0,0,0,0,...,23,10,3,0,3,1,4,0,0,0

In [53]:
x_set_train = x_set_vectorized[:800]
x_set_test = x_set_vectorized[800:]

In [54]:
x_set_train

,0,1,2,3,4,5,6,7,8,9,...,3584,3585,3586,3587,3588,3589,3590,3591,3592,3593
0,5,0,0,0,0,0,0,0,0,0,...,8,3,0,0,0,1,1,0,0,0
1,26,0,0,0,0,0,0,0,0,0,...,21,11,8,0,1,3,2,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,6,2,2,0,0,0,0,1,0,0
3,6,0,0,0,0,0,0,0,0,0,...,14,12,2,2,1,0,3,0,0,0
4,6,0,0,0,3,0,0,0,3,0,...,13,3,0,1,2,0,2,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,8,0,0,0,0,0,0,0,0,0,...,4,3,1,0,1,0,0,2,0,0
796,0,0,0,0,0,0,0,0,0,0,...,5,0,0,0,0,0,1,0,0,0
797,14,0,0,0,1,0,0,0,1,0,...,18,6,3,0,4,0,2,0,0,0
798,3,0,0,0,0,0,0,0,0,0,...,7,6,2,0,0,0,4,10,0,0
799,12,0,0,0,0,0,0,0,0,0,...,28,6,3,0,0,1,1,0,0,0

In [55]:
x_set_test

,0,1,2,3,4,5,6,7,8,9,...,3584,3585,3586,3587,3588,3589,3590,3591,3592,3593
800,7,0,0,0,0,0,0,0,0,0,...,5,0,0,0,0,0,1,0,0,0
801,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
802,6,0,0,0,0,0,0,0,0,0,...,5,1,0,0,0,0,0,0,0,0
803,3,0,0,0,0,0,0,0,0,0,...,3,0,0,0,0,0,0,0,0,0
804,4,0,0,0,0,0,0,0,0,0,...,2,1,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1795,6,0,0,0,0,0,0,0,0,0,...,9,0,1,0,0,0,0,0,0,0
1796,6,0,0,0,0,0,0,0,0,0,...,5,6,0,1,0,0,1,0,0,0
1797,0,0,0,0,2,0,0,0,2,0,...,2,1,2,0,0,0,0,0,0,0
1798,2,0,0,0,0,0,0,0,0,0,...,3,0,0,0,1,0,0,0,0,0
1799,13,0,0,0,0,0,0,0,0,0,...,23,10,3,0,3,1,4,0,0,0

In [56]:
y = np.ravel(y_over)

In [58]:
classifier = LogisticRegression(max_iter=1000)
classifier.fit(x_set_train, y)
y_pred = classifier.predict(x_set_test)

In [59]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 1], dtype=int64)